The organization of this paper is as follows: Section 2 outlines the models used for defining project use-cases and conceptual classes, as well as the concept of system state. Section 3 introduces an algorithm for converting preconditions and postconditions into basic actions. Section 4 details how the prototype is generated and executed, noting it is developed in Java. The final section, Section 5, reflects on the conclusions and discusses potential avenues for future work.

The paper introduces eight fundamental actions, which are essential for implementing system operations and organized into five categories: creation of instances (objects and links), deletion of instances, updating object properties, instance discovery, and property checking. The first three categories alter the system state, while the last two do not. Actions are explained by their effect on system state and their input-output relationships:

FindObject: This action checks if an object exists given an object identifier and a class name. It returns true if the object is discovered, false if not. Objects can also be found through associations or by locating all objects in a class that meet a specific property.

The paper explains that preconditions can be understood through existence or non-existence of certain objects and links, or through specific attribute properties. Postconditions involving state change break down into creation and deletion of objects and links, as well as updates to attribute values. Query-based use cases return a truth value based on object/link existence and attribute values. Four key variables determine the truth value of preconditions and postconditions, and they are as follows:

Pre-objects: A set indicating which objects need to exist before use case execution, including specifications for object attribute values. This set’s elements appear as use case parameters.

Post-objects: A set representing objects presumed to exist post-execution, including declared attribute values. Objects in this set could be use case parameters or newly created during action execution.