The reuse manager consists of three primary modules: the query preprocessor, query expander, and the indexer. Within the query preprocessor, the tokenizer, part-of-speech (POS) tagger, and named entity recognizer are employed to segment terms, identify different word types, and recognize named entities, respectively. The query expander is responsible for semantic expansion, utilizing three distinct expansion strategies based on lexical relationships, word co-occurrence database, and named entity recognition. Lastly, the indexer leverages the outputs from the preceding modules to explore the structure defined by the definition manager and taxonomy manager.

It is crucial to recognize that a given word's meaning can vary depending on its context within a natural language query. To address this, a variation of the part-of-speech tagger introduced by the Penn Treebank project is employed to assign words to 36 defined categories. Additionally, the named entity recognition (NER) technique is utilized to improve tokenization by identifying and classifying named entities such as locations, persons, organizations, etc.

Further processing involves tokenizing the query, followed by the elimination of stopwords—words and symbols deemed insignificant from a semantic standpoint. Additionally, a working prototype of the framework is implemented using a taxonomy for the geographic domain and functionalities described in functional datasheets. The indexing engines Lucene, Sphinx, and Minion are utilized to evaluate the behavior of the expansion methods and compare them against indexers without semantic expansion.

The obtained results reveal the effectiveness of semantical expansion techniques as they exhibit a notable improvement in retrieving relevant functionalities compared to processes without expansion. Notably, the cumulative precision at n reaches 100% for lists of 10 candidates in all cases. The recall metric demonstrates differences among the techniques, with disco showing the best values, followed by wordnet and ner across all indexers.

Two primary threats to validity are identified: the need for a larger dataset to generate more robust quantitative results and the potential correlation of expansion techniques with the application domain. The observed lower values of recall for the ner expansion technique may stem from its performance within a specific domain and could potentially fare better in alternative contexts.