ArtificialIntelligenceintheLifeSciences4(2023)100085
Contents lists available at ScienceDirect
Artificial Intelligence in the Life Sciences
journal homepage: www.elsevier.com/locate/ailsci
Editorial
Data and code availability requirements in open science and consequences for different
research environments
Artificial Intelligence in the Life Sciences (AILSCI) strongly supports (2) Reporting new software and its applications generally requires
code and data sharing as a central part of open science and requires deposition of the code, and this also applies to commercial soft-
reproducibility of published work. Therefore, for publication of Original ware. However, a Methods & Protocols article reporting a new
Research in AILSCI including Articles and Short Communications, data and algorithm or methodology might contain detailed pseudo-code to
custom code must be made accessible for review and, upon acceptance enable re-coding by others, instead of granting access to the
of a study, provided in an open access deposition (or as machine- software. Of course, this would not be feasible for large software
readable supplementary information, if the size is manageable). The packages. However, when reporting a new approach with custom
custom code deposition does not necessarily need to include any script code in a Methods & Protocols article, reproducibility does not
that is used in a study, but must include code that is essential for generally imply that an implementation must be provided. By
reproducing the main findings. The use of proprietary data for modeling contrast, if a new proprietary/commercial software would be
is generally discouraged and the data deposition requirements apply if benchmarked against publicly available programs, claiming su-
proprietary materials are used. perior performance, AILSCI would not publish the study without
For models generated with open source software, sufficient details making the new software available to the public. In this case, the
must be provided in a paper such that the models can be re-built and the specific results must be fully reproducible. Studies reporting
calculations reproduced. Required details include parameter optimiza- software with restricted access will be considered by the editors
tion protocols and all optimized parameter settings, which may be on a case-by-case basis. This also includes the use of commercial
provided as supplementary information. Models generated with open software by industrial or academic investigators if the main
source software can also be made available, but this is not a stringent findings of a study depend on the use of programs with restricted
requirement as long as sufficient details are reported. access. Importantly, predictions must also be reproducible if they
Studies from commercial entities frequently use proprietary data are experimentally confirmed.
and/or code, which generally conflicts with AILSCI’s deposition re- (3) As an exception for Original Research, AILSCI is introducing a
quirements. However, it is also evident that it is often impossible for possible editorial waiver on deposition requirements for pro-
researchers from companies to carry out or repeat their work using prietary data. This waiver option can be considered only if a study
relevant public data and/or code, if available at all, to meet deposition reports novel findings that further advance the field and the au-
requirements for publication. Therefore, while ensuring full reproduc- thors provide convincing evidence that comparable results could
ibility of Original Research is a must (with a possible exception; vide infra) not be obtained on the basis of current public data. In such
there are different avenues to publication for investigators from industry exceptional cases, the scientific significance of new findings
to enable the communication of interesting science and new findings would outweigh data deposition requirements. For example, this
from their internl research might apply to the analysis of or predictive modeling based on in-
house data sets from drug discovery that have evolved over time
(1) AILSCI offers different article types as potential alternatives to such as pharmacological or compound profiling data. Such data
publication of Original Research. Specifically, the Perspective, are typically sparse in the public domain and often unique to a
Conceptual Analysis, Viewpoint, and Methods & Protocols article pharma company. Knowledge extraction from such data might
types provide opportunities for communication of new scientific yield unprecedented findings of general relevance. However, in
developments, concepts, or case studies without the need for full such cases, a stringent requirement is the demonstrated novelty
data disclosure. Hence, a research study might be presented in of the findings and conclusions drawn from them. For example,
different ways, for example, more generally describing new ap- building standard prediction models based on proprietary data
proaches and applications such that reproducibility of specific and reporting high accuracy for internal test sets would not be
results would not be essential. This might be facilitated in a sufficient. Authors who would like to consider the data deposition
Perspective or Conceptual Analysis paper. Alternatively, in a waiver option may contact the editor-in-chief to apply for a
Methods & Protocols article, a new computational approach or waiver with supporting evidence. Such requests will be consid-
predictive model might be introduced and only a brief exemplary ered on a case-by-case basis by the editors and are subject to
application presented, for which only a small amount of data editorial discretion. If a waiver is granted and the manuscript
would need to be made available, together with the model. accepted after review, the published version will need to contain
https://doi.org/10.1016/j.ailsci.2023.100085
Received 18 August 2023; Accepted 18 August 2023
Availableonline23August2023
2667-3185/©2023TheAuthors.PublishedbyElsevierB.V.ThisisanopenaccessarticleundertheCCBY-NC-NDlicense(http://creativecommons.org/licenses/by-
nc-nd/4.0/).Editorial A r t i fi c i a l I n t e l l i g e n c e i n t h e L i f e S c i e n ces4(2023)100085
an acknowledgement that the editors have issued a waiver on the Data availability
data deposition requirements for this study in light of the sig-
nificance of the reported findings. No data was used for this article.
Finally, it is noted that Methods & Protocols articles are also suitable Jürgen Bajorath*
for reporting practical computational/AI solutions for relevant tasks. For Department of Life Science Informatics, B-IT, Lamarr Institute for Machine
example, these might include calculation workflows, scripts, and note- Learning and Artificial Intelligence, LIMES Unit Chemical Biology &
books or adaptations and extension of available code for specific Medicinal Chemistry, University of Bonn, Friedrich-Hirzebruch-Allee 5/6,
applications. D-53115 Bonn, Germany
Declaration of Competing Interest *Corresponding author.
E-mail address: bajorath@bit.uni-bonn.de.
The author declares that there are no known competing financial
interests or personal relationships that could have appeared to influence
the work reported in this paper.
2