body{
    background: #DCF2F1;
}

button{
    background-color: #365486 !important;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% viewport height */
}

.output{
    text-align: center;
}