body{
    background: #DCF2F1;
}

h1{
    color: #0F1035;
    text-align: center;
}

button{
    background-color: red;
}

.container {
    align-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

form{
    align-content: center;
}

.form-container-table{
    display: flex;
    justify-content: center;
}
  
.form-container-button{
    
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

button#check_button.btn.btn-primary {
    background: #365486 !important;
    
}