body{
    background: #DCF2F1;
}

h1{
    color: #0F1035;
    text-align: center;
}

button{
    background-color: #365486;
}

.container {
    align-content: center;
}

.form-container {
    display: flex;
    justify-content: center;
}

form{
    align-content: center;
}

.form-container-table{
    display: flex;
    justify-content: center;
}
  
.form-container-button{
    display: flex;
    justify-content: center;
}


