body{
    width: 100%;
    background: #DCF2F1;
    margin: 0px;
    padding: 0px;
}

h1{
    color: #0F1035;
    text-align: center;
}

html{
    padding: 0;
    margin: 0;
    width: 100%;
}


.container {
    width: 1000px;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form{
    align-content: center;
}

.form-container-table{
    display: flex;
    justify-content: center;
}
  
.form-container-button{
    
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button#check_button.btn.btn-primary {
    background: #365486 !important;
    
}

.header{
    background-color: #7FC7D9;
    width: 100%;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}