{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/styles.html" %}
    {% include "snippets/script.html" %}
</head>
<body class="w-100">
    <div class='d-flex flex-column'>
        <div class='header'>
            <h1 class="text-center">Machine Paraphrased Essay Detector</h1>
        </div>

        
        <div class="form-container">
            <form method="post">
                <div class="d-flex flex-column">
                    {% csrf_token %}
                    <div class="form-container-table">
                        <table>
                            {{home_input.as_table}}
                        </table>
                    </div>
                    
                    
                    <div class="form-container-button">
                        <button id ="check_button" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                            Check
                        </button> 
                    </div>
                </div>
                
                
                       
            </form>
    
        </div>

            <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                {% comment %} <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div> {% endcomment %}
                <div class="modal-body">
                    <div class="spinner-border text-dark" role="status">
                        <span class="sr-only"></span>
                      </div>
                      Your essay is being processed...
                </div>
               <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                {% comment %} <button type="button" class="btn btn-primary">Save changes</button> {% endcomment %}
                </div>
            </div>
            </div>
        </div>    
    </div>


</body>
</html>