{% load static %}
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/outputStyles.html" %}
    {% include "snippets/script.html" %}
</head>
<body class="h-100 d-flex align-items-center justify-content-center">
    <div class='d-flex flex-column'>
        {% block isi %}

        {% endblock isi %}
        <div class="output">
            <a href="">
                <button type="button" class="btn btn-primary">Check another essay</button>
            </a>
        </div>
        
    </div>
    
</body>
</html>