{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "snippets/outputStyles.html" %}
    {% include "snippets/script.html" %}
</head>
<body>
    <div class='container'>
        {% block isi %}

        {% endblock isi %}
        <br>
        <div class="output">
            <a href="">
                <button type="button" class="btn btn-primary">Check another essay</button>
            </a>
        </div>
        
    </div>
    
</body>
</html>